body{
  padding-top: 50px;
}
#headerWrapper{
  position: relative;
  padding:0;
  margin:0;
  overflow:"hidden";
  height:600px;
  background-image: url(../images/headerlogo/background.png);
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: top center;
  background-position: left center;
  background-attachment: fixed;
}
#logotext{
  position:absolute;
  width:100%;
  height:180px;
  background-repeat:no-repeat;
  background-position: center;
  background-size: 70% 180px;
  top: 50%;
  margin-top:-90px;

}

#partial-headerWrapper{
  position: relative;
  padding:0;
  margin:0;
  overflow:"hidden";
  height:150px;
  background-image: url(../images/headerlogo/background.png);
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: top center;
  background-position: left center;
  background-attachment: fixed;
}

.img-thumb{
  height:200px;
  width: auto;
}
#footer{
  margin-top:50px;
  }
  img.details{
    width: 90%;
    margin : 15px auto;
  }
/*.table-auto{
  width:auto;
  margin:0 auto;
}*/

#add-product-btn{
  margin-top: -35px;
}

.saved-image img{
  margin-top: 200px;
  height :auto;
}

#login-form{
  width:50%;
  height: 60%;
  border:2px solid #000;
  border-radius:15px;
  box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
  margin: 7% auto;
  padding: 15px;
  background-color: white;
}
.totals-table-header th{
  text-align:center;
}

#cart_widget td, #recent_widget{
  font-size: 13px;
}

input.price-range{
  width: 55px;
}
